body{
	background-image: url("http://4.bp.blogspot.com/__ccXryaE164/TI1vYJIkCzI/AAAAAAAAAOg/ypGwupyjc-8/s1600/IMG_3925.JPG");
	background-repeat: no-repeat;
	background-position: center top;
	color: black;
	font-family: arial;
	font-size: 90%;
}

div.banner_superior{
	background-color: rgba(255,255,255,0.75);
	color: rgb(73,150,228);
	width: max-width;
	padding: 10px;
	margin: -8px;
	top: 0;
	left: 0;
	right: 0;
}

div.banner_inferior{
	background-color: rgb(137,151,175);
	width: max-width;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

div.center{
	width: 600px;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	background-color: rgba(255,255,255,0.75);
	padding: 30px;
	text-align: justify;
}

div.table{
	width: 750px;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	background-color: rgba(255,255,255,0.75);
	padding: 30px;
	text-align: justify;
}